@charset "utf-8";
html { overflow-y:scroll; }
body { padding:0; margin:0; color:#3c3c3c; font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:16px; }
div, p, img, a, form, span, iframe, dl, dt, dd { margin:0px; padding:0px; }
ul { list-style:none; }
html, body{height:100%;}
table, th, td { font-size:16px; border-collapse:collapse; }
a:link, a:active, a:visited { color:#dba901; text-decoration:none; }
a:hover { color:#3c3c3c; text-decoration:none !important; }
h3{ padding: 0px; }
#wrap{width:100%;}
#content{width:980px; background:#ffffff; padding:10px; margin-top:5px; }
.top{width:980px; height:90px; padding-bottom:5px; }
.top .logo{float:left; width:100px; text-align:center;}
.top .menu{float:left; width:880px; padding-bottom:10px; font-weight:bold; font-size:24px; font-family:"Trebuchet MS", Helvetica, sans-serif;}
.top .menu > ul > li { position: relative; float: left; }
.top .menu > ul > li > a.tmenu { display: block; height: 70px; line-height: 70px; text-align: center;}
.top .menu > ul > li > a.tmenu:link, a.tmenu:active, a.tmenu:visited  { color:#124363; }
.top .menu > ul > li > a.tmenu:hover { color:#dba901; }
.top .menu > ul > li > a.tmenu > span { display: block; }
.top .menu > ul > li > a.tmenu > span.menu_on { color:#dba901;}
.top .menu > ul > li.active > ul { display: block; }
.con{width:960px; margin:0 auto; line-height:24px; padding-top:25px; padding-bottom:30px;}
.boxcross{margin:1em 0;	position: relative;	padding: 0.5em 1.5em; border-top: solid 1px black; border-bottom: solid 1px black;}
.boxcross:before, .boxcross:after{content: '';	position: absolute;	top: -5px;	width: 1px;	height: -webkit-calc(100% + 10px);	height: calc(100% + 10px);	background-color: black;}
.boxcross:before {left: 5px;}
.boxcross:after {right: 5px;}
.boxcross p {margin: 0; padding: 0; text-align:center;}
.access1{width:980px; padding-bottom:5px; overflow: hidden;}
.access1 .text1{float:left; width:660px; text-align:left; margin: 0 20px;}
.access1 .map1{float:right; width:280px; }
.access1 .text1 .guide1{float:left; margin: .5em 0;}
.access2{width:980px; padding-bottom:5px; overflow: hidden;}
.access2 .text2{float:left; width:660px; text-align:left; margin: 0 20px;}
.access2 .map2{float:right; width:280px; }
.registr{width:980px; padding-bottom:5px; overflow: hidden;}
.registr .text3{float:right; width:500px; text-align:left; margin: 0 20px;}
.registr .img3{float:left; width:440px; }
.tableArea {margin: 0.5em 2em 0.5em 2em; border-collapse:collapse; border-spacing:0; background:#ffffff; border:1px solid black;}
.tableArea th,.tableArea td { text-align : center; padding : 10px; border : 1px solid black;}
.tableArea th {background : #ffffff;}
.partTable td {padding-left: 40px;}
.talklist{padding:0; margin: 0em 2em; list-style-type:none;}